.notes-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  // Займає всю висоту вікна перегляду
    width: 100vw;  // Займає всю ширину вікна перегляду
    background-color: #f8bbb0a9;  // Ви можете змінити фон за потреби
  }
  
  .notes-container {
    background-color: #e9f7c8;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  // Вирівнює нотатки зліва направо
    gap: 20px;
    padding: 20px;
    height: 80%;
    width: 80%;
    border-radius: 20px;
  }
  
  .note {
    height: 55%;
    width: calc(33.333% - 40px);  // 3 нотатки в ряд, враховуючи розрив
    background-color: #83c5f7;
    border: 1px solid #ddd;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;  // Загальний розрив між елементами всередині нотатки
  
    .input-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  
      label {
        font-weight: bold;
        margin-bottom: 3px;
      }
  
      input[type="text"],
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 14px;
      }
  
      textarea {
        resize: none;
        height: 100px;
      }
    }
  
    .dates {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;  // Розрив між .input-group і .dates
  
      .date {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        label {
          font-weight: bold;
          margin-bottom: 5px;
        }
  
        div {
          padding: 5px 10px;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
    }
  
    .buttons {
      display: flex;
      justify-content: space-between;
  
      button {
        width: 45%;
        padding: 10px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &.edit-button {
          background-color: #8ddf74;
        }
  
        &.edit-button:hover {
          background-color: #45a049;
        }
  
        &.delete-button {
          background-color: #f44336;
        }
  
        &.delete-button:hover {
          background-color: #d32f2f;
        }
      }
    }
  }