<div class="notes-create-container">
  <div *ngIf="error" class="error-message">
    {{ getErrorMessage() }}
  </div>
  <form [formGroup]="noteForm" (ngSubmit)="createNote()" novalidate>
    <div class="note">
      <div class="input-group">
        <label for="title">{{"noteTitle" | translate}}:</label>
        <input 
          type="text" 
          id="title" 
          [placeholder]="'placeholderTitle' | translate"
          formControlName="title">
        <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="error-messages">
          <div class="error-messages" *ngIf="title?.errors?.['required']">{{"errorTitleRequired" | translate}}</div>
          <div class="error-messages" *ngIf="title?.errors?.['minlength']">{{"errorTitleMin" | translate}}</div>
          <div class="error-messages" *ngIf="title?.errors?.['maxlength']">{{"errorTitleMax" | translate}}</div>
        </div>
      </div>

      <div class="input-group">
        <label for="description">{{"noteDescription" | translate}}:</label>
        <textarea 
          id="description" 
          [placeholder]="'placeholderDescription' | translate"
          formControlName="description"></textarea>
        <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="error-messages">
          <div class="error-messages" *ngIf="description?.errors?.['required']">{{"errorDescriptionRequired" | translate}}</div>
          <div class="error-messages" *ngIf="description?.errors?.['minlength']">{{"errorDescriptionMin" | translate}}</div>
          <div class="error-messages" *ngIf="description?.errors?.['maxlength']">{{"errorDescriptionMax" | translate}}</div>
        </div>
      </div>

      <div class="buttons">
        <button type="button" class="cancel-button" (click)="goToNotes()">{{"cancelButton" | translate}}</button>
        <button type="submit" class="create-button" [disabled]="noteForm.invalid">{{ isCreateNote ? ("createButton" | translate) : ("updateButton" | translate) }}</button>
      </div>
    </div>
  </form>
</div>
